@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-montserrat);
  --font-mono: var(--font-source-code-pro);

  --color-primary: #0b1758;
  --color-primary-shade: #0a144d;
  --color-primary-tint: #232e69;

  --color-service-website: #3498db;
  --color-service-mobile: #e74c3c;
  --color-service-software: #27ae60;
  --color-service-system: #9b59b6;
}

body {
  background: var(--background);
  color: var(--foreground);
}
